<!DOCTYPE html>
<!--[if lt IE 6]>
<html class="ie ie6" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 7]>
<html class="ie ie7" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 9]>
<html class="ie ie9" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 10]>
<html class="ie ie10" lang="ru" dir="ltr"> <![endif]-->
<!--[if (gte IE 11)|!(IE)]><!-->
<html lang="ru" dir="ltr" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->

<head itemscope itemtype="http://schema.org/WPHeader">
  <!-- DEVELOPER -->
  <!-- https://github.com/TheWitcher1991 -->

  <!-- SEO -->
  <meta charset="UTF-8" />

  <title itemprop="headline">Платформа возможностей</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta itemprop="description" name="description" content="" />
  <meta itemprop="keywords" name="keywords" content="" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta http-equiv="content-language" content="ru" />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="" />

  <meta name="author" content="VitroBerry" />
  <meta name="copyright" content="© 2025 ООО «Платформа Возможностей»" />

  <meta property="og:title" content="Платформа возможностей" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:alt" content="y" />
  <meta property="og:locale" content="ru_RU" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Платформа возможностей" />

  <meta property="twitter:title" content="Платформа возможностей" />
  <meta property="twitter:description" content="" />
  <meta property="twitter:url" content="" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta name="twitter:image:alt" content="" />
  <meta name="twitter:domain" content="" />
  <meta name="twitter:site" content="@" />
  <meta name="twitter:creator" content="@" />

  <meta name="hostname" content="" />
  <meta name="expected-hostname" content="" />
  <meta name="format-detection" content="telephone=no" />

  <link rel="shortcut icon" href="../public/logo.png" type="image/x-icon" />
  <link rel="icon" href="../public/logo.png" type="image/x-icon" />
  <link rel="apple-touch-icon" href="../public/logo.png">

  <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "https://",
        "name": "Платформа возможностей",
        "description": "",
      }
    </script>

  <!-- LIBS -->

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- STYLES -->
  <link rel="stylesheet" href="../static/font/font.css" />
  <link rel="stylesheet" href="../static/styles/vars.css" />
  <link rel="stylesheet" href="../static/styles/normalize.css" />
  <link rel="stylesheet" href="../static/styles/wrapper.css" />
  <link rel="stylesheet" href="../static/styles/media.css" />
</head>

<body>



  <div class="wrapper">
    <div class="section-nav">
      <nav class="nav">
        <div class="nav-logo">
          <img src="../public/logo-white.svg" width="140" height="36" />
        </div>
        <div class="nav-menu">
          <a>О нас</a>
          <a>Решения</a>
          <a>Продукт</a>
          <a>Преимущества</a>
          <a>Кейсы</a>
          <a>Партнестрво</a>
        </div>
        <a class="nav-link">Связаться</a>
      </nav>
    </div>

    <section class="section-header">
      <h1>АВТОМАТИЗИРОВАННАЯ СИСТЕМА ФОРМИРОВАНИЯ <p>КОРПОРАТИВНОЙ ОТЧЕТНОСТИ</p>
      </h1>
      <p>Единая платформа для подготовки отчетности об устойчивом развитии, интегрированной отчетности и ESG-показателей
      </p>
      <div class="header-hero">
        <img src="../public/client.png" />

        <div class="hero-card hero-card-1">
          88,3%
          <p>сокращение сметы</p>
        </div>

        <div class="hero-card hero-card-2">
          70%
          <p>экономия времени</p>
        </div>
      </div>
    </section>

    <section class="section-about">
      <div class="about-block">
        <div class="section-title">
          <div class="section-title-icon"><i class="ti ti-users"></i></div>
          о нас
        </div>
        <div>Мы — команда экспертов в области корпоративной отчетности и IT-разработки, создающая честную и понятную
          отчетность</div>
      </div>
      <div class="about-folderss"></div>
    </section>
  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
    integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    new WOW().init();
  </script>

  <script src="../static/libs/gsap.min.js"></script>
  <script src="../static/libs/ScrollTrigger.min.js"></script>
  <script src="../static/libs/ScrollSmoother.min.js"></script>

  <script src="../static/scripts/index.js"></script>
</body>

</html>