:root {
    --font-text: 'Onest', sans-serif;
    --font-title: 'Gotham', sans-serif;
    --font: normal 16px var(--font-text);
}

:root {
    --transition-linear: all 0.1s ease-in-out;
}

:root {
    --color-white: #ffffff;
    --color-blacked: #171717;
    --color-black: #2D2D2D;
    --color-text: #2D2D2D;
    --color-accent: #3384FF;
    --color-tiny: #747474;
    --color-block-secondary: #E9F2FF;
    --color-block: #EDEFF6;
    --color-border: #D0E3FF;
}