.wrapper {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1280px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    background: var(--color-black);
    justify-content: space-between;
    height: 64px;
    padding: 8px;
    border-radius: 20px;
    max-width: 1280px;
    margin: 0 auto;
}

.nav a {
    color: var(--color-white);
    cursor: pointer;
}

.section-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px 80px 0 80px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-menu a {
    font-size: 16px;
    font-weight: 500;
}

.nav-menu a:hover {
    color: var(--color-accent);
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 16px;
    padding: 0 15px;
    background: var(--color-accent);
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-weight: 500;
    border-radius: 16px;
    width: 153px;
    background: var(--color-accent);
}

.section-header {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.section-header > p {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    width: 850px;
    margin: 0 auto 32px auto;
}

.section-header h1 {
    font-weight: 700;
    text-align: center;
    font-size: 42px;
    color: var(--color-blacked);
    margin-bottom: 12px;
    line-height: 129%;
    letter-spacing: -0.03em;
}

.section-header h1 p {
    color: var(--color-accent);
}

.header-hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-hero img {
    width: 1002px;
    height: 469px;
}

.hero-card {
    background: var(--color-accent);
    color: var(--color-white);
    border-radius: 24px;
    height: 141px;
    width: 282px;
    position: absolute;
    padding: 24px;
    font-size: 42px;
    font-weight: 700;
}

.hero-card p {
    font-weight: 500;
    font-size: 24px;
}

.hero-card-1 {
    left: 0;
    transform: rotate(-10deg);
}

.hero-card-2 {
    right: 0;
    transform: rotate(9deg);
}